[submodule "vendored/cron-dexli"]
	path = vendored/cron-dexli
	url = https://github.com/dexli-dev/cron-dexli.git
[submodule "vendored/regex-dexli"]
	path = vendored/regex-dexli
	url = https://github.com/dexli-dev/regex-dexli.git
[submodule "vendored/diff-dexli"]
	path = vendored/diff-dexli
	url = https://github.com/dexli-dev/diff-dexli.git
